BEGIN;

CREATE TABLE alembic_version (
    version_num VARCHAR(32) NOT NULL, 
    CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num)
);

-- Running upgrade  -> 001

CREATE TYPE userrole AS ENUM ('patient', 'doctor', 'admin');

CREATE TABLE users (
    id SERIAL NOT NULL, 
    name VARCHAR(100) NOT NULL, 
    email VARCHAR(255) NOT NULL, 
    password_hash VARCHAR(255) NOT NULL, 
    role userrole NOT NULL, 
    is_verified BOOLEAN, 
    verification_token VARCHAR(255), 
    specialization VARCHAR(100), 
    primary_doctor_id INTEGER, 
    threshold_profile_id INTEGER, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    updated_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id), 
    UNIQUE (email)
);

CREATE INDEX ix_users_email ON users (email);

CREATE INDEX ix_users_id ON users (id);

CREATE TABLE weather_snapshots (
    id SERIAL NOT NULL, 
    city VARCHAR(100) NOT NULL, 
    latitude FLOAT NOT NULL, 
    longitude FLOAT NOT NULL, 
    pressure_hpa FLOAT NOT NULL, 
    pressure_mmhg INTEGER NOT NULL, 
    temperature FLOAT, 
    humidity INTEGER, 
    weather_description VARCHAR(100), 
    recorded_at TIMESTAMP WITH TIME ZONE NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id)
);

CREATE INDEX ix_weather_snapshots_city ON weather_snapshots (city);

CREATE INDEX ix_weather_snapshots_id ON weather_snapshots (id);

CREATE INDEX ix_weather_snapshots_pressure_mmhg ON weather_snapshots (pressure_mmhg);

CREATE INDEX ix_weather_city_recorded ON weather_snapshots (city, recorded_at);

CREATE TABLE measurements (
    id SERIAL NOT NULL, 
    user_id INTEGER NOT NULL, 
    systolic INTEGER NOT NULL, 
    diastolic INTEGER NOT NULL, 
    pulse INTEGER, 
    measured_at TIMESTAMP WITH TIME ZONE NOT NULL, 
    latitude FLOAT, 
    longitude FLOAT, 
    notes TEXT, 
    weather_snapshot_id INTEGER, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    updated_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id), 
    FOREIGN KEY(user_id) REFERENCES users (id), 
    FOREIGN KEY(weather_snapshot_id) REFERENCES weather_snapshots (id)
);

CREATE INDEX ix_measurements_id ON measurements (id);

CREATE INDEX ix_measurements_measured_at ON measurements (measured_at);

CREATE INDEX ix_measurements_user_id ON measurements (user_id);

INSERT INTO alembic_version (version_num) VALUES ('001') RETURNING alembic_version.version_num;

-- Running upgrade 001 -> 002

CREATE TYPE activitytype AS ENUM ('walking', 'running', 'cycling', 'swimming', 'gym', 'yoga', 'sport', 'other');

CREATE TYPE severitylevel AS ENUM ('low', 'medium', 'high', 'critical');

CREATE TYPE reportformat AS ENUM ('pdf', 'csv', 'json');

CREATE TYPE reportstatus AS ENUM ('pending', 'generating', 'completed', 'failed');

CREATE TABLE medications (
    id SERIAL NOT NULL, 
    patient_id INTEGER NOT NULL, 
    name VARCHAR(200) NOT NULL, 
    dosage FLOAT NOT NULL, 
    unit VARCHAR(20) NOT NULL, 
    frequency VARCHAR(100), 
    notes TEXT, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    updated_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id), 
    FOREIGN KEY(patient_id) REFERENCES users (id)
);

CREATE INDEX ix_medications_id ON medications (id);

CREATE INDEX ix_medications_patient_id ON medications (patient_id);

CREATE TABLE medication_intakes (
    id SERIAL NOT NULL, 
    medication_id INTEGER NOT NULL, 
    patient_id INTEGER NOT NULL, 
    measurement_id INTEGER, 
    taken_at TIMESTAMP WITH TIME ZONE NOT NULL, 
    dosage_taken FLOAT, 
    notes TEXT, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    FOREIGN KEY(medication_id) REFERENCES medications (id), 
    FOREIGN KEY(patient_id) REFERENCES users (id), 
    FOREIGN KEY(measurement_id) REFERENCES measurements (id)
);

CREATE INDEX ix_medication_intakes_id ON medication_intakes (id);

CREATE INDEX ix_medication_intakes_medication_id ON medication_intakes (medication_id);

CREATE INDEX ix_medication_intakes_patient_id ON medication_intakes (patient_id);

CREATE INDEX ix_medication_intakes_measurement_id ON medication_intakes (measurement_id);

CREATE INDEX ix_medication_intakes_taken_at ON medication_intakes (taken_at);

CREATE TYPE activitytype AS ENUM ('walking', 'running', 'cycling', 'swimming', 'gym', 'yoga', 'sport', 'other');

CREATE TABLE activity_events (
    id SERIAL NOT NULL, 
    patient_id INTEGER NOT NULL, 
    measurement_id INTEGER, 
    activity_type activitytype NOT NULL, 
    duration_minutes INTEGER NOT NULL, 
    intensity VARCHAR(20), 
    calories_burned INTEGER, 
    started_at TIMESTAMP WITH TIME ZONE NOT NULL, 
    notes TEXT, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    FOREIGN KEY(patient_id) REFERENCES users (id), 
    FOREIGN KEY(measurement_id) REFERENCES measurements (id)
);

CREATE INDEX ix_activity_events_id ON activity_events (id);

CREATE INDEX ix_activity_events_patient_id ON activity_events (patient_id);

CREATE INDEX ix_activity_events_measurement_id ON activity_events (measurement_id);

CREATE INDEX ix_activity_events_started_at ON activity_events (started_at);

CREATE TABLE threshold_profiles (
    id SERIAL NOT NULL, 
    patient_id INTEGER, 
    sys_min INTEGER DEFAULT '90' NOT NULL, 
    sys_max INTEGER DEFAULT '140' NOT NULL, 
    dia_min INTEGER DEFAULT '60' NOT NULL, 
    dia_max INTEGER DEFAULT '90' NOT NULL, 
    pulse_min INTEGER, 
    pulse_max INTEGER, 
    is_default BOOLEAN DEFAULT 'false', 
    is_active BOOLEAN DEFAULT 'true', 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    updated_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id), 
    UNIQUE (patient_id), 
    FOREIGN KEY(patient_id) REFERENCES users (id)
);

CREATE INDEX ix_threshold_profiles_id ON threshold_profiles (id);

CREATE INDEX ix_threshold_profiles_patient_id ON threshold_profiles (patient_id);

CREATE TABLE daily_summaries (
    id SERIAL NOT NULL, 
    patient_id INTEGER NOT NULL, 
    summary_date DATE NOT NULL, 
    avg_systolic FLOAT, 
    min_systolic INTEGER, 
    max_systolic INTEGER, 
    avg_diastolic FLOAT, 
    min_diastolic INTEGER, 
    max_diastolic INTEGER, 
    avg_pulse FLOAT, 
    min_pulse INTEGER, 
    max_pulse INTEGER, 
    measurements_count INTEGER DEFAULT '0' NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    updated_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id), 
    CONSTRAINT uq_daily_summary_patient_date UNIQUE (patient_id, summary_date), 
    FOREIGN KEY(patient_id) REFERENCES users (id)
);

CREATE INDEX ix_daily_summaries_id ON daily_summaries (id);

CREATE INDEX ix_daily_summaries_patient_id ON daily_summaries (patient_id);

CREATE INDEX ix_daily_summaries_summary_date ON daily_summaries (summary_date);

CREATE INDEX ix_daily_summary_patient_date ON daily_summaries (patient_id, summary_date);

CREATE TYPE severitylevel AS ENUM ('low', 'medium', 'high', 'critical');

CREATE TABLE recommendations (
    id SERIAL NOT NULL, 
    patient_id INTEGER NOT NULL, 
    measurement_id INTEGER, 
    severity severitylevel NOT NULL, 
    category VARCHAR(50), 
    message TEXT NOT NULL, 
    is_read VARCHAR(1) DEFAULT 'N', 
    is_acknowledged VARCHAR(1) DEFAULT 'N', 
    read_at TIMESTAMP WITH TIME ZONE, 
    acknowledged_at TIMESTAMP WITH TIME ZONE, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    FOREIGN KEY(patient_id) REFERENCES users (id), 
    FOREIGN KEY(measurement_id) REFERENCES measurements (id)
);

CREATE INDEX ix_recommendations_id ON recommendations (id);

CREATE INDEX ix_recommendations_patient_id ON recommendations (patient_id);

CREATE INDEX ix_recommendations_measurement_id ON recommendations (measurement_id);

CREATE TABLE audit_logs (
    id SERIAL NOT NULL, 
    user_id INTEGER NOT NULL, 
    action VARCHAR(100) NOT NULL, 
    entity_type VARCHAR(50), 
    entity_id INTEGER, 
    details TEXT, 
    ip_address VARCHAR(45), 
    user_agent VARCHAR(255), 
    timestamp TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id), 
    FOREIGN KEY(user_id) REFERENCES users (id)
);

CREATE INDEX ix_audit_logs_id ON audit_logs (id);

CREATE INDEX ix_audit_logs_user_id ON audit_logs (user_id);

CREATE INDEX ix_audit_logs_action ON audit_logs (action);

CREATE INDEX ix_audit_logs_timestamp ON audit_logs (timestamp);

CREATE INDEX ix_audit_user_action ON audit_logs (user_id, action);

CREATE INDEX ix_audit_user_timestamp ON audit_logs (user_id, timestamp);

CREATE INDEX ix_audit_action_timestamp ON audit_logs (action, timestamp);

CREATE TYPE reportformat AS ENUM ('pdf', 'csv', 'json');

CREATE TYPE reportstatus AS ENUM ('pending', 'generating', 'completed', 'failed');

CREATE TABLE reports (
    id SERIAL NOT NULL, 
    patient_id INTEGER NOT NULL, 
    period_start DATE NOT NULL, 
    period_end DATE NOT NULL, 
    file_path VARCHAR(500), 
    file_format reportformat NOT NULL, 
    file_size INTEGER, 
    status reportstatus NOT NULL, 
    error_message TEXT, 
    generated_by INTEGER, 
    generated_at TIMESTAMP WITH TIME ZONE, 
    title VARCHAR(200), 
    description TEXT, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    updated_at TIMESTAMP WITH TIME ZONE, 
    PRIMARY KEY (id), 
    FOREIGN KEY(patient_id) REFERENCES users (id), 
    FOREIGN KEY(generated_by) REFERENCES users (id)
);

CREATE INDEX ix_reports_id ON reports (id);

CREATE INDEX ix_reports_patient_id ON reports (patient_id);

CREATE INDEX ix_reports_generated_by ON reports (generated_by);

UPDATE alembic_version SET version_num='002' WHERE alembic_version.version_num = '001';

COMMIT;

